




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  background-color: rgba(53, 46, 53, 0.747);
  font-family: 'Noto Sans JP', sans-serif;
}

/* Main Nav */

.nav{
  text-align: center;
  list-style: none;
  background-color: rgb(27, 6, 2);
  padding: 1rem;
  text-align: end;
  position: relative;
 
}

li{
  display: inline-block;
  height: 200%;
}

 a{
  color: white;
  text-decoration: none;
  margin: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  
}

li:hover{
  background-color: rgb(131, 5, 68);
  transition: 0.2s linear;
  padding: 0.5rem;
  background-size: 8%;
  border-radius: 1rem;
}

/* aside */

main{
  height: 40rem;
  position: static;
  font-size: 2rem;
  text-align: justify;
}

.ads{
  position: fixed;
  display: inline-block;
  height:100%;
  padding: 10px;
  background-color: rgb(50, 52, 58);
}

.title{
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  color: rgb(88, 83, 75);
}

.images{
  display: inline-grid;
}

img{
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.content{
  position: absolute ;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  left: 12rem;
}

.one, .two, .three, .four{
  display: inline-block;
  padding: 20px;
  background-color: rgb(44, 39, 39);
}

footer{
  position: absolute;
  background-color: rgb(13, 14, 15);
  text-align: center;
  width: 100%;
  bottom: 0rem;
}